<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="label-titre" class="modal-title">Ajouter une classe</h4>
        </div>
        <div id="content-form" class="modal-body">
            {{ form_start(classeForm, {'attr':{'class':'', 'role':'form', 'id':'form-ajout-classe'}}) }}
            <div class="form-group">
                <div class="col-md-6">
                    {{ form_label(classeForm.nom, 'Nom de la classe') }}
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <div class="dtp-container dropdown fg-line">
                            {{ form_widget(classeForm.nom, {'attr': {'class': 'form-control', 'id':'prenom', 'placeholder':'classe' }}) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(classeForm) }}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" id="addClasseEvent">Sauvegarder</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>




