<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="label-titre" class="modal-title">Ajouter un Utilisateur</h4>
        </div>
        <div id="content-form" class="modal-body">
            <div class="form-group">
                <div class="col-md-6">
                    Nom d'utilisateur
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <div class="dtp-container dropdown fg-line">
                            <input type="text" class="form-control" id="nom" placeholder="j.dupont" value="{{ username }}" disabled/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    Role
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <div class="dtp-container dropdown fg-line">
                            <select class="form-control" id="role" data-val="{{ role }}">
                                <option value="ROLE_STUDENT">Etudiant</option>
                                <option value="ROLE_PROF">Prof</option>
                                <option value="ROLE_ADMIN">Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" id="editUserEvent">Sauvegarder</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>




